Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTP_HTTPS} !on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php

php_flag display_errors 1
php_flag display_startup_errors 1
php_value error_reporting 2047
php_flag log_errors 1
php_value error_log /home/f/fbkru/sputnikvideo.ru/php_error.log
