/* =============================================
------------------- 10.Blog.html -----------------
==============================================*/

.article {
	padding-left:95px;
	position:relative;
	margin-bottom:80px;
}

.article .article-meta-date {
	position:absolute;
	left:0;
	top:0;
	text-align:center;
	font:18px/20px "PT Sans", sans-serif;
	text-transform:uppercase;
	background:#444645;
	color:#fff;
	font-weight:700;
	width:80px;
	padding:20px 0;
}

.article .article-meta-date span {
	display:block;
	font-size:20px;
}

.article .article-media-container {
	margin-bottom:30px;
}

.article .article-media-container img {
	display: block;
	height: auto;
	max-width: 100%;
}

.article h2 {
	font:700 28px/1 "PT Sans", sans-serif;
	margin-bottom:15px;
}

.article h2 a,
.article .article-content-container a  {
	color:#424645;
}

.article h2 a:hover,
.article .article-content-container a:hover {
	color:#6dbcdb;
}

.article .article-meta-more {
	float:left;
}

.article .article-meta-view {
	float:right;
}
.article .article-meta-container {
	margin-bottom:15px;
}

.article .article-meta-container a:hover {
	color:#424645
}

.article .article-meta-container .article-meta-more  a{
	margin-right:30px;
}

.article .article-meta-container .article-meta-view  a{
	margin-left:30px;
}

.article .article-content-container a {
	font-weight:bold;
	font-size:14px;
}

.pagination-container {
	padding-top:20px;
	border-top:1px solid #eee;

}

.pagination-container.clear-border {
	border-top:none;
}

.pagination-container .page-count {
	padding-top:4.5px;
	font-size:15px;
	color:#a4a4a4;
}

/* Bootstrap pagination */
.pagination {
	display: inline-block;
	margin:0 0 40px;
	border-radius:0;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
	display:inline-block;
	float:none;
	padding:6px;
	width:30px;
	height:30px;
	margin-left: 2px;
	font-size:12px;
	line-height:17px;
	font-weight:bold;
	text-decoration: none;
	background-color: #eeeeee;
	border: 1px solid #e4e2e2;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.45);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.45);
	color:#757575;
	text-align:center;

}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	background: #6dbcdb;
	color:#fff;
	border-color: #6dbcdb;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	color: #757575;
	background-color: #e4e2e2;
	border-color: #e4e2e2;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #999999;
	cursor: not-allowed;
	background-color: #ffffff;
	border-color: #dddddd;
}


/* Sidebar */

.sidebar h3 {
	color:#676a70;
	text-transform:uppercase;
	font:700 16px/46px "PT Sans", Arial, sans-serif;
	margin-bottom:20px;
	background: #e1e4e5;
	padding-left:15px;
}

.sidebar .widget {
	margin-bottom:60px;
}

 .category-accordion-list  {
	list-style-type:disc;
	padding-left:15px;
}

.sidebar .widget .category-accordion-list li {
	padding:4px 0;
}

.sidebar .widget .panel {
  margin-bottom: 20px;
  background-color: transparent;
  border:none;
  border-radius: 0;
  -webkit-box-shadow:none;
          box-shadow:none;
}

.sidebar .widget .panel-body {
  padding: 0 20px 15px;
}

.sidebar .widget .panel-heading {
  padding: 0;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  text-transform:uppercase;
  margin-bottom:15px;

}
.sidebar .widget .icon-box {
	display:inline-block;
	width:16px;
	height:16px;
	border:1px solid #c3c3c3;
	border-radius:2px;
	font-size:14px;
	font-family:Arial, sans-serif;
	font-weight:700;
	line-height:14px;
	text-align:center;
	float:right;
}
.sidebar .widget  .panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}

.sidebar .widget .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-family:'PT Sans', sans-serif;
  font-weight:bold;
  color:#888888;

}

.sidebar .widget .panel a {
	color:#888888;
}

.sidebar .widget .panel a:hover {
	color:#6dbcdb;
}

.sidebar .widget .panel a:hover .icon-box {
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
	border-color:#6dbcdb;
	background-color: #6dbcdb;
	color:#fff;
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.35);
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.35);
}

.sidebar .widget .panel-group .panel {
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 0;
}

.sidebar .widget .panel-group .panel-heading {
  border-bottom: 0;
}

.sidebar .widget .panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 1px solid transparent;
}

.sidebar .widget .panel-custom {
  border-color: transparent;
}

.sidebar .widget .panel-custom > .panel-heading {
  color: #333333;
  background-color:transparent;
  border-color: transparent;
}

.sidebar .widget .panel-custom > .panel-heading + .panel-collapse .panel-body {
  border-top-color: transparent;
}

.panel-custom > .panel-heading > .dropdown .caret {
  border-color: transparent transparent;
}

.sidebar .widget .panel-custom > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: transparent;
}

/* latest/recend posts slider */
.sidebar .widget .latest-posts-list,
.sidebar .widget .recent-posts-list   {
	font-size:15px;
}
.sidebar .widget .latest-posts-list .latest-posts-media-container,
.sidebar .widget .recent-posts-list .recent-posts-media-container  {
	margin-bottom:20px;
}

.sidebar .widget .latest-posts-list a,
.sidebar .widget .recent-posts-list a {
	display:block;
}

.sidebar .widget .latest-posts-list h4,
.sidebar .widget .recent-posts-list h4 {
	font:700 20px/25px "PT Sans", sans-serif;
	margin-bottom:20px;
}

.sidebar .widget .latest-posts-list h4 a,
.sidebar .widget .recent-posts-list h4 a {
	color:#686c6b;
}

.sidebar .widget .latest-posts-list h4 a:hover,
.sidebar .widget .recent-posts-list h4 a:hover {
	color:#5a5a5a;
}

.sidebar .widget .latest-posts-list .latest-posts-meta-container .pull-left a,
.sidebar .widget .recent-posts-list .recent-posts-meta-container .pull-left a  {
	font-weight:bold;
}

.sidebar .widget .latest-posts-list .latest-posts-meta-container .pull-right,
.sidebar .widget .recent-posts-list .recent-posts-meta-container .pull-right {
	font-style:italic;
	color:#bdbdbd;
	font-size:14px;
}

/* General sidebar slider direction nav styles + footer sliders*/
.sidebarslider .flex-direction-nav,
.footerslider .flex-direction-nav {
	position:absolute;
	top:-47px;
	right:0;
	width:66px;
	height:22px;
}

.sidebarslider .flex-direction-nav {
	top:-54px;
	right:10px;
}

.sidebarslider .flex-direction-nav li,
.footerslider .flex-direction-nav li {
	display:block;
	float:left;
}

.sidebarslider .flex-direction-nav a,
.footerslider .flex-direction-nav a  {
	display:block;
    background-color:#fafafa;
    background-image: url('/images/sprites/sprite.png');
    background-repeat: no-repeat;
    border:1px solid #e0e0e0;
	width:31px;
	height:22px;
	margin-top:-11px;
	opacity:1;
	margin-left:2px;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.45);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.45);

}

.sidebarslider .flex-direction-nav a:hover,
.footerslider .flex-direction-nav a:hover {
	background-color:#6dbcdb !important;
	opacity: 1;
	text-shadow:none;
	border-color:#6dbcdb !important;
}

.sidebarslider .flex-direction-nav .flex-prev,
.footerslider .flex-direction-nav .flex-prev {
	left:0;
    background-position: -188px -202px;
}

.sidebarslider .flex-direction-nav .flex-next,
.footerslider .flex-direction-nav .flex-next {
	right:0;
    background-position: -221px -202px;
}

.sidebarslider .flex-direction-nav .flex-prev:hover,
.footerslider .flex-direction-nav .flex-prev:hover {
    background-position: -188px -225px;
}

.sidebarslider .flex-direction-nav .flex-next:hover,
.footerslider .flex-direction-nav .flex-next:hover {
    background-position: -221px -225px;
}


/* Testimonials Slider */
.sidebar .widget .testimonials-list li .testimonial-details {
	padding:25px 25px 25px 45px;
	background-color:#f6f6f6;
	border:1px solid #dcdcdc;
	position: relative;
	font-size:15px;
	margin-bottom:30px;
}

.sidebar .widget .testimonials-list li .testimonial-details header {
	font:700 23px/21px "PT Sans", sans-serif;
	margin-bottom:15px;
}

.sidebar .widget .testimonials-list li .testimonial-details:before {
	content:'';
	display:block;
	position: absolute;
	left:10px;
	top:22px;
	width:32px;
	height:26px;
	background-image:url('/images/sprites/sprite.png');
	background-repeat: no-repeat;
	background-position: 0 -150px;
}

.sidebar .widget .testimonials-list li .testimonial-details:after {
	content:'';
	position: absolute;
	display:block;
	top:100%;
	left:30px;
	margin-top:-1px;
	width:36px;
	height:21px;
	background: url(/images/testimonial-arrow.png) no-repeat center center;
}

.sidebar .widget .testimonials-list li  figure img{
	display:block;
	max-width:70px;
	height:auto;
	float:left;
	margin-right:20px;
}

.sidebar .widget .testimonials-list li  figure > figcaption {
	display:block;
	float:left;
	font-style:italic;
	font-size:16px;
	font-family:"PT Sans", sans-serif;
}

.sidebar .widget .testimonials-list li  figure > figcaption > a {
	display:block;
}

.sidebar .widget .tags-list {
/*clear inline-block auto margin */
	font-size:0;
}
.sidebar .widget .tags-list li {
	display:inline-block;
	margin:0 10px 10px 0;
	font-size:14px;
	line-height:20px;
}

.sidebar .widget .tags-list li a {
	display:inline-block;
	padding:4px 11px;
	border-radius:2px;
	background:#f6f6f6;
	border:1px solid #dcdcdc;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.7);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.7);
	color:#444645;
}

.sidebar .widget .tags-list li a:hover {
	color:#6dbcdb;
}

.sidebar .widget .flickr-feed-list li {
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}

.sidebar .widget .flickr-feed-list li a {
    display: inline-block;
    position: relative;
    width: 75px;
    height: 75px;
    overflow: hidden;
}

.sidebar .widget .flickr-feed-list li a:before {
    content: '+';
    position: absolute;
    left: -75px;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 25px;
    font-size: 22px;
    line-height:25px;
    color: #f5f7fa;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
    opacity: 0.1;
    background:rgba(109, 188, 219, 0.8);
}

.sidebar .widget .flickr-feed-list li a:hover:before {
    left: 0;
    opacity: 1;
}


