/* =============================================
--------------------- 16.Contact.html -----------------
==============================================*/

#map {
	height:350px;
	margin-bottom:50px;
}

#map img {
	max-width:none;
}

.contact-details-list > li {
	position: relative;
	padding-left:56px;
	font-size:16px;
	line-height:25px;
	color:#797878;
	margin-bottom:15px;
}

.contact-icon {
	position: absolute;
	left:0;
	top:50%;
	display:block;
	margin-top:-18px;
	width:36px;
	height:36px;
	background-color:#fd5c48;
	background-repeat: no-repeat;
	background-image: url('/images/sprites/sprite.png');
	border:1px solid #fd5c48;
	border-radius:2px;
	text-align:center;
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0,0,0, 0.15);
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0,0,0, 0.15);
}

.contact-icon.contact-icon-phone {
	background-position: -288px 0;
}

.contact-icon.contact-icon-mobile {
	background-position: -322px 0;
}

.contact-icon.contact-icon-email {
	background-position: -288px -34px;
}

.contact-icon.contact-icon-skype {
	background-position: -322px -34px;
}

#contact-form .input-group-addon{
	min-width:100px;
}

/* ============== Input icons ============== */

.input-text {
	vertical-align: middle;
}

.input-icon {
	display:inline-block;
	width:24px;
	height:24px;
	background-color:transparent;
	background-repeat: no-repeat;
	background-image: url('/images/sprites/sprite.png');
	margin-right: 5px;
	vertical-align: middle;
}

.input-icon.input-icon-user {
	background-position: -90px -140px;
}

.input-icon.input-icon-email {
	background-position: -114px -140px;
}

.input-icon.input-icon-subject {
	background-position: -138px -140px;
}

.input-icon.input-icon-message {
	background-position: -162px -140px;
}

.input-icon.input-icon-phone {
	background-position: -186px -140px;
}

.input-icon.input-icon-fax {
	background-position: -210px -140px;
}

.input-icon.input-icon-password {
	background-position: -234px -140px;
}

.input-icon.input-icon-company {
	background-position: -258px -140px;
}

.input-icon.input-icon-address {
	background-position: -282px -140px;
}

.input-icon.input-icon-city {
	background-position: -306px -140px;
}

.input-icon.input-icon-postcode {
	background-position: -330px -140px;
}

.input-icon.input-icon-country {
	background-position: -354px -140px;
}

.input-icon.input-icon-region {
	background-position: -90px -164px;
}
