/* =============================================
---------------------  7.Portfolio ---------------
==============================================*/

#portfolio-filter {
	margin-bottom:20px;
	list-style-type:none;
}

#portfolio-filter li {
	float:left;
	margin:0 3px 10px 0;
}

#portfolio-filter li a {
	display:inline-block;
	padding:6px 20px;
	background:#575a59;
	color:#fff;
	font:700 14px/18px 'PT Sans', sans-serif;
	-webkit-transition:background 0.4s;
	-moz-transition:background 0.4s;
	-o-transition:background 0.4s;
	-ms-transition:background 0.4s;
	transition:background 0.4s;
	text-transform:uppercase;
}

#portfolio-filter li a:hover,
#portfolio-filter li a.active {
	background:#fd5c48;
}

.portfolio-item {
	margin-bottom:35px;
}

/* space for portfolio items inside the carousel // single-portfolio.html */
.owl-carousel .portfolio-item {
	padding:0 15px;
	width:100% !important; /* overwrite even javascript  this is important better responsive image */
}

.portfolio-item > figure {
	margin-bottom:20px;
	position: relative;
}

/* responsive images */
.portfolio-item  img {
	display:block;
	max-width:100%;
	height:auto;
}

.portfolio-item > figure > figcaption {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	background:rgba(68, 70, 69, 0.7);
	height:100%;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity:0;
	overflow:hidden;
}

.portfolio-item > figure > figcaption > .zoom-button,
.portfolio-item > figure > figcaption > .link-button {
	display:block;
	width:35px;
	height:35px;
	border-radius:3px;
	border:1px solid #6dbcdb;
	-webkit-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.45);
	box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.45);
	background-color:#6dbcdb;
	background-image: url('/images/sprites/sprite.png');
	background-repeat: no-repeat;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-17.5px;
	margin-left:-17.5px;
	-webkit-transition:background-color 0.3s ease-in-out 0.2s, margin-left 0.4s ease-in-out 0.2s;
	-moz-transition:background-color 0.3s ease-in-out 0.2s, margin-left 0.4s ease-in-out 0.2s;
	-o-transition:background-color 0.3s ease-in-out 0.2s, margin-left 0.4s ease-in-out 0.2s;
	-ms-transition:background-color 0.3s ease-in-out 0.2s, margin-left 0.4s ease-in-out 0.2s;
	transition:background-color 0.3s ease-in-out 0.2s, margin-left 0.4s ease-in-out 0.2s;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity:0;
}

.portfolio-item > figure > figcaption > .zoom-button {
	background-position: -52px -290px;

}

.portfolio-item > figure > figcaption > .link-button {
	background-position: -85px -290px;
}

.portfolio-item > figure > figcaption > .like-button {
	color:#fff;
	position: absolute;
	bottom:-20px;
	left:10px;
	font-size:14px;
	line-height:1;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition:all 0.3s ease-in-out 0.2s;
	-moz-transition:all 0.3s ease-in-out 0.2s;
	-o-transition:all 0.3s ease-in-out 0.2s;
	-ms-transition:all 0.3s ease-in-out 0.2s;
	transition:all 0.3s ease-in-out 0.2s;
}

.portfolio-item > figure > figcaption > .like-button > span {
	font-family:Arial, sans-serif;
	font-weight:700;
	margin-left:5px;
}

.portfolio-item > figure:hover > figcaption {
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.portfolio-item > figure:hover > figcaption > .zoom-button {
	margin-left:-45px;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.portfolio-item > figure:hover > figcaption > .link-button {
	margin-left:10px;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.portfolio-item > figure > figcaption > .zoom-button:hover,
.portfolio-item > figure > figcaption > .link-button:hover {
	background-color:#444645;
	border-color:#444645;
}

.portfolio-item > figure:hover > figcaption > .like-button  {
	bottom:10px;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.portfolio-item > figure > figcaption > .like-button:hover {
	color:#6dbcdb;
	-webkit-transition-delay:0s;
	-moz-transition-delay:0s;
	-o-transition-delay:0s;
	-ms-transition-delay:0s;
	transition-delay:0s;
}

.portfolio-item h2 {
	font:700 16px/17px 'PT Sans', sans-serif;
	color:#666;
	margin:0 0 5px;
}

.portfolio-item h2 a {
	color:#666;
}

.portfolio-item h2 a:hover {
	color:#6dbcdb;
}

.portfolio-item p {
	margin:0 0 10px;
	font-size:13px;
	line-height:17px;
	color:#888;
}

.portfolio-item p a {
	color:#888;
}

.portfolio-item p a:hover {
	color:#6dbcdb;
}

/**** Isotope Filtering Plugin Styles ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}


